<div class="row">
  <div class="col-md-8">
    <videogular vg-player-ready="onPlayerReady($API)" vg-update-time="onUpdateTime($currentTime,$duration)" vg-theme="config.theme.url">
      <vg-media vg-src="config.sources"
          vg-tracks="config.tracks">
      </vg-media>

      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
        <vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>

      <vg-overlay-play></vg-overlay-play>
      <vg-poster vg-url='config.plugins.poster'></vg-poster>
    </videogular>
  </div>

  <div class="col-md-4">
    <stamp-list video-index="currentVideoIndex" api="API"></stamp-list>

  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <form id="new-stamp" ng-submit="createStamp()">

      <div class="input-group">
        <span id="new-stamp-time" class="input-group-addon" id="basic-addon1">{{newStamp.time}}</span>
        <input class="form-control" id="new-stamp-input" ng-model="newStamp.input" type="text" autocomplete="off" mentio mentio-typed-text="typedTerm"mentio-items="tags | filter:label:typedTerm" />
      </div>

      <input id="new-stamp-submit" class="btn btn-primary" type="submit" value="Create Timestamp" />
    </form>
  </div>
  <div class="col-md-offset-4 col-md-4">
    <div class="playlist">
      <ul>
        <li ng-repeat="video in videos track by $index"><a ng-click="setVideo($index)">{{video.title}}</a></li>
      </ul>
    </div>
  </div>
</div>

  <h4>Tags</h4>
  <ul>
    <li ng-repeat="tag in tags" ng-click="showTagDetails(tag.label)">{{tag.label}}</li>
  </ul>

