<div class="row">
  <div class="col-md-8">
    <videogular vg-player-ready="onPlayerReady($API)" vg-update-time="onUpdateTime($currentTime,$duration)" vg-theme="config.theme.url">
      <vg-media vg-src="config.sources"
          vg-tracks="config.tracks">
      </vg-media>

      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
        <vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>

      <vg-overlay-play></vg-overlay-play>
      <vg-poster vg-url='config.plugins.poster'></vg-poster>
    </videogular>
  </div>

  <div class="col-md-4">
    <select class="form-control" ng-options="video.title for video in videos track by video.index" ng-model="activeVideo" ng-change="setVideo(activeVideo.index)"></select>
    <stamp-list video-index="currentVideoIndex" api="API" show-tag-details="showTagDetails"></stamp-list>

  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <form id="new-stamp" ng-submit="createStamp()">

      <div class="input-group">
        <span id="new-stamp-time" class="input-group-addon" id="basic-addon1">{{newStamp.time}}</span>
        <input class="form-control" id="new-stamp-input" ng-model="newStamp.input" type="text" autocomplete="off" mentio mentio-typed-text="typedTerm"mentio-items="tags | filter:label:typedTerm" />
      </div>
      <textarea bullets id="new-stamp-notes" class="form-control" ng-model="newStamp.notes" rows="3" placeholder="Enter notes here..."></textarea>
      <input id="new-stamp-submit" class="btn btn-primary" type="submit" value="Create Timestamp" />
    </form>
  </div>

  <div class="col-md-offset-4 col-md-4" id="tag-occurences">
    <h3>All instances of</h3>
    <input id="input-tag" class="form-control" type="text" ng-model="inputActiveTag" ng-change="showTagDetailsIfIsValidTag()" autocomplete="off" mentio mentio-typed-text="typedTerm"mentio-items="tags | filter:label:typedTerm" />
    <div ng-repeat="video in activeTagStamps">
      <h3>{{video.title}}</h3>
      <div class="stamp" ng-repeat="stamp in video.timestamps | orderBy: 'time'">
        <span class="stamp-time" ng-click="seek(video.index, stamp)">{{stamp.time}}</span>
        <stamp-description description="stamp.input" show-tag-details="showTagDetails"></stamp-description>
      </div>
    </div>
  </div>
</div>
